<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index - Beer Baron</title>
    <link rel="stylesheet" type="text/css" href="../styles/body.css">
    <link rel="stylesheet" type="text/css" href="../styles/oneBeer.css">
    <script src="../scripts/logout.js" defer></script>
    <script src="../scripts/oneBeer.js" defer></script>
    <link href="//s.w.org/wp-includes/css/dashicons.css?20150710" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/logo.png" sizes="196x196">
</head>

<body>
    <div id="header">
        <div id="navLogo"><img src="../img/logo.png" id="logo"></div>
        <%- include('../components/nav', { page: 'beers' }) %>
        <button id="logout"></button>
    </div>

    <div id="container">
        <div id="box">
            <img id="filterInfo" src="../img/info.png">
            <div id="infoFilter" class="notVisible">
                <p>ABV (Alcohol By Volume): Alcohol percentage</p>
                <p>IBU (International Bittering Unit): Specify the bitterness of the beer</p>
                <p>SRM (Standard Reference Method): Specify the beer color</p>
            </div>

            <div id="name"><span><%= beer.name %></span></div>
            <div idBeer="<%= beer.id %>" class="beer">
                <div class="photo">
                    <div id="score">
                        <span <%if (beer.score >= 1) {%> class="lighting" <% } %>>★</span>
                        <span <%if (beer.score >= 2) {%> class="lighting" <% } %>>★</span>
                        <span <%if (beer.score >= 3) {%> class="lighting" <% } %>>★</span>
                        <span <%if (beer.score >= 4) {%> class="lighting" <% } %>>★</span>
                        <span <%if (beer.score >= 5) {%> class="lighting" <% } %>>★</span>
                    </div>
                    <% if (beer.filepath != "") { %>
                    <img src="../img/<%= beer.filepath %> ">
                    <% } else { %>
                    <img src="../img/unknown.png">
                    <% } %>
                </div>
                <div id="info">
                    <div class="stats">
                        <div class="stat">
                            <div class="name infostat"><span>ABV</span></div>
                            <div class="number infostat"><span><%= beer.abv %>%</span></div>
                        </div>
                        <div class="stat">
                            <div class="name infostat"><span>IBU</span></div>
                            <div class="number infostat"><span><%= beer.ibu %></span></div>
                        </div>
                        <div class="stat">
                            <div class="name infostat"><span>SRM</span></div>
                            <div class="number infostat"><span><%= beer.srm %></span></div>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stat" id="country">
                            <span><%= beer.country %></span>
                        </div>
                        <div class="stat" id="state">
                            <span><%= beer.state %></span>
                        </div>
                        <div class="stat" id="category">
                            <span><%= beer.catName %></span>
                        </div>
                        <div class="stat" id="style">
                            <span><%= beer.styleName %></span>
                        </div>
                    </div>
                    <div id="description">
                        <p><%= beer.descript %></p>
                    </div>
                </div>
            </div>

            <div id="comments">
                <textarea name="commentary" id="commentary"></textarea>
                <button id="send">send</button>
                <% beer.comments.forEach(comment => { %>
                <div class="comment" id="<%= comment.id %>">
                    <div class="user" id="<%= comment.idUser %>">
                        <img src="../img/user.png">
                        <span> <%= comment.userName %> </span>
                    </div>
                    <p> <%= comment.comment %> </p>
                </div>
                <% }); %>

            </div>
        </div>
    </div>
    </div>

    <%- include('../components/footer')  %>
</body>

</html>