<link href="styles/beerFilter.css" rel="stylesheet" type="text/css">
<div id="filterContainer">
    <input type="text" id="nameFilter" class="inputFilter input" placeholder="name">
    <select name="origin" id="originFilter" class="inputFilter input">
        <option value="" disabled selected>origin</option>
        <option value="">none</option> 
        <% for (let i = 0; i < filter.origins.length; i++) { %>
            <option value="<%= filter.origins[i] %>"><%= filter.origins[i] %></option>
        <% } %>
    </select>
    <select name="category" id="categoryFilter" class="inputFilter input">
        <option value="" disabled selected>category</option>
        <option value="">none</option>
        <% for (let i = 0; i < filter.categories.length; i++) { %>
            <option value="<%= filter.categories[i] %>"><%= filter.categories[i] %></option>
        <% } %>
    </select>
    <select name="style" id="styleFilter" class="inputFilter input">
        <option value="" disabled selected>style</option>
        <option value="">none</option> 
        <% for (let i = 0; i < filter.styles.length; i++) { %>
            <option value="<%= filter.styles[i] %>"><%= filter.styles[i] %></option>
        <% } %>
    </select>
    <select name="minAbv" id="minAbvFilter" class="inputFilter input">
        <option value="" disabled selected>min abv</option>
        <option value="">none</option> 
        <% for (let i = 0; i <= filter.maxAbv; i++) { %>
            <option value="<%= i %>">min <%= i %>%</option>
        <% } %>
    </select>
    <select name="maxAbv" id="maxAbvFilter" class="inputFilter input">
        <option value="" disabled selected>max abv</option>
        <option value="">none</option> 
        <% for (let i = 0; i <= filter.maxAbv; i++) { %>
            <option value="<%= i %>">max <%= i %>%</option>
        <% } %>
    </select>
    <select name="minIbu" id="minIbuFilter" class="inputFilter input">
        <option value="" disabled selected>min ibu</option>
        <option value="">none</option> 
        <% for (let i = 0; i <= filter.maxIbu; i++) { %>
            <option value="<%= i %>">min <%= i %></option>
        <% } %>
    </select>
    <select name="maxIbu" id="maxIbuFilter" class="inputFilter input">
        <option value="" disabled selected>max ibu</option>
        <option value="">none</option> 
        <% for (let i = 0; i <= filter.maxIbu; i++) { %>
            <option value="<%= i %>">max <%= i %></option>
        <% } %>
    </select>
    <select name="minSrm" id="minSrmFilter" class="inputFilter input">
        <option value="" disabled selected>min srm</option>
        <option value="">none</option> 
        <% for (let i = 0; i <= filter.maxSrm; i++) { %>
            <option value="<%= i %>">min <%= i %></option>
        <% } %>
    </select>
    <select name="maxSrm" id="maxSrmFilter" class="inputFilter input">
        <option value="" disabled selected>max srm</option>
        <option value="none">none</option> 
        <% for (let i = 0; i <= filter.maxSrm; i++) { %>
            <option value="<%= i %>">max <%= i %></option>
        <% } %>
    </select>
    <select name="orderBy" id="orderBy" class="inputFilter input">
        <option value="" disabled selected>order by</option>
        <option value="">none</option> 
        <% for (let i = 0; i < filter.orderBy.length; i++) { %>
            <option value="<%= filter.orderBy[i] %>"><%= filter.orderBy[i] %></option>
        <% } %>
    </select>
    <button id="applyFilters" class="input">Apply filters</button>
</div>